body{

    &:not(.wp-admin), &:not(.wp-customizer){
        
        font-family: $font-primary;

        p{
            font-size: 1.25rem;
            line-height: 2rem;
            margin-bottom: 30px;
        }
        
        h1{
            font-size: 4rem;
            margin-bottom: 20px;
        }
        
        h2{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

    }
}


@media screen and (max-width: $breakpoint-tablet) {

    body{

        &:not(.wp-admin){

            p{
                font-size: 1rem;
                line-height: 1.375rem;
            }

            h1{
                font-size: 2.5rem;
            }

            h2{
                font-size: 1.875rem;
            }

        }

    }

}


@media screen and (max-width: $breakpoint-phone){

    body{

        &:not(.wp-admin){

            h1, h2{
                text-align: center;
            }

        }

    }
    
}